@import "bulma.min.css";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root { /* change primary to Heilige Boontjes theme */
    --bulma-primary-h: 29deg;
    --bulma-primary-s: 47%;
    --bulma-primary-l: 49%;
}