html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1, h2, h3, h4, p{
    margin: 0;
}
h1{
    font-size: 3.5rem;
}
h2{
    font-size: 2.25rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: normal;
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;}
.prev:hover, .next:hover {
     background-color: rgba(0,0,0,0.8);
 }
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.center-container{
    max-width: 1000px;
    margin: 0 auto;
}


/* begin Header code*/

header p{
    color: #FFFFFF;
    max-width: 500px;
    text-align: center;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 70vh;
}
header h1{
    color: white;
}

a.small-button{
    padding: 10px 25px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    background-color: #b97c42;
    transition:color 0.5s, background 0.5s ;
}

a.small-button:hover{
    background-color: black;
}

header img{
    width: 100%;
}

/* begin main section code*/

main h2{
    margin-bottom: 30px;
}
main{
    padding: 70px 0;
}
section{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.button{
    display: block;
    padding: 10px 25px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    background-color: #b97c42;
    position: relative;
    transition:color 0.5s, background 0.5s ;
}

.link{
    text-decoration: underline;
    color: #FFFFFF;
}
.link:hover{
    text-decoration: none;
}

.button:hover{
    color: #000;
    background: none;
}

/* begin Footer code*/

footer{
    background-color: #000000;
}
.footer-box{
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

footer p{
    color: #FFFFFF;
}
footer img{
    height:40px;
    margin: 10px 5px;
    flex: 1;
}

.pso{
    height: 120px;
}

.footer-extra{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* contacten code + veranderingen */

header.h-contacts{
    background: #b97c42 none;
    height: 35vh;
}
.contacts-h2{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name{
    display: flex;
    gap: 10px;
}

.time{
    display: flex;
    gap: 10px;
}

.input-box{
    width: 25vw;
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: #3a3b3c solid 1px;
}

select.input-box{
    width: 5vw;
}
.input-long{
    height: 35px;
    border-radius: 5px;
    padding-left: 5px;
    border: #3a3b3c solid 1px;
}
select{
    height: 40px;
    padding-left: 5px;
    border-radius: 5px;
    border: #3a3b3c solid 1px;
}

.category-box{
    display: flex;
    gap: 10px;
}

.divider{
    margin-bottom: 20px;
}

textarea{
    padding: 10px;
    border-radius: 5px;
    height: 100px;
    border: #3a3b3c solid 1px;
}

#eten{
    margin: 10px 0;
}

button{
    height: 40px;
    background-color: #b97c42;
    border-radius: 5px;
    border: #b97c42 1px solid;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: bold;
}

button:hover{
    background-color: #000000;
}

.error{
    color: #FF6684;
    font-size: 0.75rem;
}
.warning{
    color: #FF6684;
    font-size: 1.25rem;
    padding-bottom: 10px;
}

@media(max-width: 480px){
    h1{
        font-size: 2.25rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.25rem;
    }
    h4{
        color: #FFFFFF;
        font-size: 1.10rem;
        font-weight: normal;
    }
    nav{
        flex-direction: column;
        margin-top: 15px;
    }
    nav div{
        flex-direction: column;
    }
    nav a{
        padding: 15px 40vw;
        border-radius: 10px;
    }
    nav img{
        height: 70px;
    }
    .contact-nav{
        padding: 15px 40vw;
        margin-bottom: 15px;
    }

    header p{
        max-width: 450px;
    }
    .content-box{
        flex-direction: column;
    }
    .center-container{
        max-width: 450px;
    }
    main h2{
        text-align: center;
    }

    .footer-box{
        flex-direction: column; !important;
        align-items: center;
        text-align: center;
        padding: 20px 10px;
    }

    .footer-extra{
        margin-bottom: 20px;
    }

    .social-media{
        display: flex;
        gap: 15px;
        justify-content: center;
    }

    .social-media a img{
        width: 30px;
    }

    footer img{
        margin: 10px 0;
    }
    .name{
        flex-direction: column;
    }
    .birth-city{
        flex-direction: column;
    }
    .input-box{
        width: auto;
    }
}